$color-white: #fff;
$color-red:#e55934;
$color-dark-red:#d4502c;

$color-theme:#747bff;
$color-dark-theme:#4c52c3;

$color-black:#25242b;

$font-size-xl: 3.2rem;
$font-size-l: 2rem;
$font-size-m: 1.6rem;
$font-size-s: 1.2rem;

$font-medium: 500;
$font-bold: 700;
$font-family-gothic:"游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;

$breakpoint : 1000px;
$breakpoint-s : 400px;
